.about {
  padding-top: 40px;

  &__wrapper {
    background: #FFFFFF;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    padding: 20px 480px 20px 20px;
    position: relative;
  }

  &__image {
    position: absolute;
    right: 50px;
    bottom: 0;
  }

  &__title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.1;
    color: #101010;
    text-align: center;
  }

  &__subtitle {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #101010;
  }
}