.footer {
  background: #fff;
  padding: 30px 40px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    width: 186px;
    justify-content: space-between;
    margin: 20px auto 0;
  }

  &__link:hover > img{
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    filter: invert(55%) sepia(75%) saturate(253%) hue-rotate(360deg) brightness(92%) contrast(83%);
  }

  &__phone {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #101010;
  }

  &__mail {
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #101010;
  }

  &__geo {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #101010;
  }

  &__contacts {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #101010;
  }

  &__left, &__right {
    width: 430px;
  }

  &__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    color: #101010;
    margin-bottom: 15px;
  }

  a:hover{
    color: #D7B66F;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }

}