.gallery{
    margin: 20px 0 ;
    &__title{
        font-family: "Philosopher";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.1;
        color: #101010;
        margin-bottom: 20px;
    }
    .owl-carousel{
        .item { 
            img{
                border-radius: 10px;
            }
        }
    }

}