.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 30%;

    &__link {
      height: 17px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #fff;
      
      &__phone{
        font-size: 18px;
      }
      
      img {
        height: 25px;
      }

      &_hamburger {
        display: none;
        img {
          height: 26px;
        }
      }
      &_hamburger:hover > img{
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        filter: invert(55%) sepia(75%) saturate(253%) hue-rotate(360deg) brightness(92%) contrast(83%);
      }
    }

    &__link:hover{
      color: #D7B66F;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }
    &__link:hover > img{
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      filter: invert(55%) sepia(75%) saturate(253%) hue-rotate(360deg) brightness(92%) contrast(83%);
    }
  }
}
