
.menu_mobile{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 130%;
  z-index: 100;
  background-color: #D7B66F;
  align-items: center;
  flex-direction: column;
  gap: 30px;
    &__link{
      font-size: 24px;
      color: white;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
    }

    &__link_logo {
      img{
        height: 60px;
        margin-top: 65px;
        margin-bottom: 10px;
      }
    }
    &__link_cross{
      position: absolute;
      right: 20px;
      top: 30px;
      img{
        height:36px;
      }
    }

    &__soc_links{
      display: flex;
      width: 186px;
      justify-content: space-between;

      img{
        height: 44px;
        filter: invert(100%) sepia(3%) saturate(7487%) hue-rotate(185deg) brightness(102%) contrast(102%);
      }

    }

    button{
      width: 80%;
      padding: 15px;
      margin-top: 10px;
    }

  }


