.modal {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 150;
    background: rgba(0, 0, 0, 0.548);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    &_active {
        display: flex;
    }
    &__close{
        position: absolute;
        right: 40px;
        top: 40px;
        cursor: pointer;
    }
    &__wrapper {
        margin: 0 10px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 560px;
        border-radius: 5px;
        padding: 40px 45px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    }
    &__title {
        font-family: 'Montserrat';
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 32px;
        line-height: 1.1;
        color: #101010;
    }
    &__policy{
        font-size: 14px;
        width: 100%;
        font-family: 'Montserrat';
        a{
            display: unset;
        }
    }
    &__cross {
        cursor: pointer;
        border: none;
        background: transparent;
    }
    &__subtitle {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 25px;
    }
    &__input {
        padding: 13px 25px;
        display: block;
        width: 100%;
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 25px;
        line-height: 1.1;
        color: #7E7E7E;
        background: transparent;
        border: none;
        border-bottom: 1px solid #B3B3B3;
    }
    &__button {
        padding: 20px 35px;
        width: 100%;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.27));
        margin-top: 30px;
    }
}