.order {
  margin: 0 auto;
  padding: 20px 0;
  position: relative;

  &__wrapper {
    margin: 100px 0 0;
    padding: 30px;
    background: #D7B66F;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    position: relative;
  }

  &__bottom {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-right: 300px;
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
  }

  &__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: left;
    width: 50%;
    margin-right: 50px;
  }

  &__image {
    position: absolute;
    right: 5%;
    bottom: 0;
    max-width: 200px;
  }
}