.services {
  &__title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.1;
    color: #101010;
  }

  &__item {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    color: white;
    position: relative;

    &__img{
      border-radius: 10px;
    }

    &__descr{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 10px;
      width: 100%;
      height: 100%;
    }

    &__icon {
      margin-right: 10px;
      height: 46px;
      width: 46px !important;
      filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(236deg) brightness(112%) contrast(101%);
    }

    &__arrow {
      position: absolute;
      right: 20px;
      height: 26px;
    }
  }
  &__item:hover{
    color: #D7B66F;
  }

  &__item:hover > img{
    filter: saturate(90%) blur(1.5px);
  }

  &__item:hover > div img{
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    filter:invert(81%) sepia(51%) saturate(415%) hue-rotate(342deg) brightness(88%) contrast(89%) !important;
  }

  &__button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    margin-top: 20px;
  }
}