.special {
  margin-top: 20px;
  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    color: #101010;

    img {
      margin-left: 10px;
      height: 20px;
      
    }
  }

  &__link:hover{
    color: #D7B66F;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  &__link:hover > img{
    color: #D7B66F;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    filter:invert(81%) sepia(51%) saturate(415%) hue-rotate(342deg) brightness(88%) contrast(89%) !important;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    column-gap: 20px;
  }

  &__title {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.1;
    color: black;
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      max-height: 45px;
      object-fit: contain;
      object-position: left;
    }

    &__title {
      margin-top: 10px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.1;
      color: #343434;
    }

    &__subtitle {
      margin-top: 20px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #101010;
    }
  }
  &__item:hover {
    background: #D7B66F;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  &__item:hover  > .special__item__title, &__item:hover  >.special__item__subtitle{
    color: white;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  }
  &__item:hover > img {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(236deg) brightness(112%) contrast(101%);
  }
}