* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #F7F6F2;
}

a {
  text-decoration: none;
  display: block;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
}

$yellow: #D7B66F;

.mobile__show {
  display: none;
}

.button {
  &_yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    background: #D7B66F;
    color: #FFFFFF;
    padding: 25px 25px;
    border-width: 2px;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    width: 100%;
    border-color:#ffffff00;
    border-radius: 18px;
  }

  &_to_bordered_white:hover {
    border-color:#FFFFFF;
    background: unset;
    color: white;
  }

  &_to_bordered_yellow:hover {
    border-color:#D7B66F;
    color:#D7B66F;
    -webkit-filter: drop-shadow(5px 5px 10px #D7B66F);
    background: unset;
  }


  &_white {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.1;
    background: transparent;
    color: #FFFFFF;
    padding: 25px 25px;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    border-radius: 18px;
    border-color:#FFFFFF;
  }

  &_to_filled_yellow:hover {
    border-color: #ffffff00;
    background: #D7B66F;
  }

  &_whiteall {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 54px;
    cursor: pointer;
    border: none;
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border-radius: 10px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
    color: #101010;
    padding: 15px 25px;
    border-width: 2px;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border-color:#ffffff00;
  }
}

@media (max-width: 1280px) {
  .container{
    padding: 0 20px;
  }
}

@media (max-width: 980px) {

  .button_yellow, .button_white {
    font-size: 22px;
    border-radius: 10px;
    padding: 10px 25px;
    height: auto;
  }
}

@media (max-width: 768px) {

  .button_yellow, .button_white {
    font-size: 16px;
    padding: 10px 15px;
    height: auto;
  }
}

@media (max-width: 576px) {

  .button_yellow, .button_white {
    font-size: 14px;
    padding: 10px;
    height: auto;
  }
  .mobile__show {
    display: block;
  }
  .mobile__hide {
    display: none;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1140px;
}

@import './blocks/header';
@import './blocks/main';
@import './blocks/descr';
@import './blocks/services';
@import './blocks/about';
@import './blocks/special';
@import './blocks/order';
@import './blocks/experts';
@import './blocks/reviews';
@import './blocks/footer';
@import './blocks/contacts';
@import './blocks/policy';
@import './blocks/massages_list';
@import './blocks/mobile_menu';

@import './blocks/unit';
@import './blocks/form';
@import './blocks/modal';
@import './blocks/gallery';
@import './blocks/certificate';
@import './blocks/promotions';
@import './blocks/spa';

@import './adapt/header';
@import './adapt/main';
@import './adapt/descr';
@import './adapt/massages_list';
@import './adapt/services';
@import './adapt/about';
@import './adapt/special';
@import './adapt/order';
@import './adapt/experts';
@import './adapt/reviews';
@import './adapt/footer';
@import './adapt/modal';

@import './adapt/unit';
@import './adapt/form';
@import './adapt/contacts';
@import './adapt/certificate';
@import './adapt/mobile_menu';
@import './adapt/promotions';
@import './adapt/spa';

.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  background: none repeat scroll 0 0 #869791;
  border-radius: 20px;
  display: block;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  width: 12px;
}