@media (max-width: 920px) {
  .about{
    margin-top: 90px;
  }
}

@media (max-width: 850px) {
  .about{
    &__wrapper {
      padding: 20px;
    }
    &__subtitle{
      width: 100%;
      margin-bottom: 300px;
    }
    &__image {
      max-height: 320px;
      right: unset;
    }
  }
  .header__menu__link__about {
    display: none;
  }

}

@media (max-width: 768px) {
  .about {
      &__title {
          font-size: 40px;
        }
      }
}

@media (max-width: 480px) {
  .about {
    padding-top: 20px;
    &__title {
      font-size: 34px;
    }
    &__subtitle {
      font-size: 14px;
    }
    &__wrapper {
      padding: 20px;
    }
  }
}