@media (max-width: 768px) {

    .certificate {
        &__massages{
            &__item{
                font-size: 16px;
            }
        }
        &__fields {
            &__wrapper{
                flex-direction: column;
                input{
                    width: 100%;
                }
            }
    
            
        }
    }
    }

    @media (max-width: 576px) {
        .certificate {
            &__massages{
                &__item{
                    font-size: 14px;
                }
            }
            &__title{
                font-size: 32px;
            }
            &__times__option {
                margin-right: 5px;
                label{
                    font-size: 14px;
                }
            }
        }
    }
    