@media (max-width: 1280px) {
    .main {
        min-height: 550px;
        &__wrapper {
            margin-top: 50px;
        }
        &__subtitle {
            margin-top: 50px;
        }
        &__aside {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .main {
        min-height: 400px;
        &_header {
            height: 90px;
        }
        &__title{
            font-size: 100px;
            line-height: 1.1;
        }
        &__description{
            font-size: 14px;
        }
        &__buttons{
            margin: 20px auto 0;
        }
    }
}

@media (max-width: 576px) {
    .main {
        min-height: 300px;
        &_header {
            height: 90px;
        }
        &__wrapper {
            margin-top: 0;
        }
        &__title {
            font-size: 60px;
        }
        &__description {
            text-align: center;
        }
        &__subtitle {
            margin-top: 20px;
            &_services {
                width: 300px;
                font-size: 18px;
            }
        }
        
    }
}

@media (max-width: 460px) {
    .main {
        &__buttons {
            width: 75%;
        }
    }
}