@media (max-width: 1280px) {
    .services {
        &__item {
            padding: 30px;
            &__arrow {
                right: 15px;
            }
        }
    }
}

@media (max-width: 768px) {
    .services {
        &__item {
            font-size: 20px;
            border-radius: 10px;
            padding: 20px;
            line-height: 1.1;
            &__icon {
                width: 25px;
                height: 25px;
            }
            &__arrow {
                height: 20px;
                right: 10px;
            }
        }
        &__button {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .services {
        &__item {
            font-size: 14px;
        }
    }
}