@media (max-width: 576px) {
    .services {
        &__item {
            font-size: 16px;
            &__descr{
                img{
                    height: 32px;
                    width: 32px !important;
                }
            }
        }
    }
}