{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>


<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <h2 class="unit__title">
                    Массаж спины
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/back.jpg" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__description">
                        Детальная проработка всех групп мышц спины снимает эмоциональное и физическое напряжение,
                        обеспечивая полную релаксацию тела и души. Мышцы становятся эластичнее, улучшается осанка, боли
                        в спине возникают реже.
                    </p>
                    <p class="unit__text unit__text_small">
                        30 мин. 1400₽
                    </p>
                    <p class="unit__text ">
                        60 мин. 2400р₽
                    </p>
<!--                    <button class="button_yellow open__modal button_to_bordered_yellow">-->
<!--                        Записаться-->
<!--                    </button>-->
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-lifting-weights.png" alt=""> Формирует правильную осанку
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-running.png" alt=""> Нормализует работу нервной системы
                        (снимается сильный стресс и психологическое напряжение)
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-getting-massage.png" alt=""> Восстанавливает подвижность суставов и
                        мышечных волокон
                    </li>
                </ul>
            </div>
            {% include '../components/specialists_card.html' with sutadta=True ketut=True %}
        </div>

    </div>
</section>

{% include '../components/modal.html' %}


{% include '../components/services.html' %}


{% include '../components/order.html' %}

{% endblock %}