{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>


<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <h2 class="unit__title">
                    Балийский массаж
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/bali.png" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__description">
                        Традиционный балийский массаж сочетает в себе сразу несколько восточных массажных техник. Он
                        гарантирует расслабляющее воздействие и насыщает кислородом кожу, мышцы и внутренние органы.
                        А так же воздействует на биологически важные
                        точки тела, запуская процесс восстановления.
                    </p>
                    <p class="unit__text unit__text_small">
                        60 мин. 3200₽
                    </p>
                    <p class="unit__text unit__text_small">
                        90 мин. 4200р₽
                    </p>
                    <p class="unit__text">
                        120 мин. 5200р₽
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/ok-hand.png" alt=""> Устранение мигрени
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-getting-massage.png" alt=""> Снимает головную боль
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-lotus.png" alt=""> Создает ощущение внутренней гармонии и
                        покоя
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/biceps.png" alt=""> Наполняет энергией и силой
                    </li>
                </ul>
            </div>
            {% include '../components/specialists_card.html' %}
        </div>

    </div>
</section>

{% include '../components/modal.html' %}


{% include '../components/services.html' %}


{% include '../components/form.html' with form_type=1 %}

{% endblock %}