{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>

<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <h2 class="unit__title">
                    Foot массаж
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/foot.png" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__text">
                        Делая массаж ног, мастер воздействует на стопы, активизируя жизненно важные точки. Во время
                        массажа стоп мастер стимулирует их пальцами. Благодаря этому улучшается работа кровеносных
                        сосудов, повышается чувствительность нервных окончаний - ускоряется реакция.
                    </p>
                    <p class="unit__text unit__text_small">
                        60 мин. 1400р₽
                    </p>
                    <p class="unit__text">
                        60 мин. 2400р₽
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-steamy-room.png" alt=""> Действует как мощное расслабляющее
                        средство
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-running.png" alt=""> Восстанавливает уровень жизненной энергии
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-lotus.png" alt=""> Снимает нервное напряжение
                    </li>
                </ul>
            </div>
            {% include '../components/specialists_card.html' %}
        </div>

    </div>
</section>

{% include '../components/modal.html' %}


<div class="unit">
    <div class="container">
        <div class="unit__bottom">
            <a href="/massages/" class="unit__bottom__link">
                Все услуги
                <img src="/media/icons/arrow small.png" alt="">
            </a>
            <p class="unit__bottom__descr">
                Обретите баланс, раскройте чакры посетив нас.<br>
                Познакомтесь с настоящими мастерами, наследниками древних традиций, прямиком из тайланда.<br>
                Команда Сантай поможет расслабиться и получить незабываемые ощущения каждому не оставив равнодушным
                никого.
            </p>
        </div>
    </div>
</div>

{% include '../components/form.html' with form_type=1 %}


{% endblock %}