{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>


<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <h2 class="unit__title">
                    Массаж рук и предплечий
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/hand_and_shoulders.jpg" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__description">
                        В руках располагается огромное количество рефлекторных точек, при стимуляции которых массажист
                        воздействует на определенные части человеческого тела. Добавьте к этому достоинства, присущие
                        любому массажу (возможность снять напряжение, расслабиться.
                    </p>
                    <p class="unit__text unit__text_small">
                        30 мин. 1400₽
                    </p>
                    <p class="unit__text ">
                        60 мин. 2400р₽
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-lotus.png" alt=""> Улучшается работа нервной системы
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/dna.png" alt=""> Выводит токсины из организма
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-getting-massage.png" alt=""> Кожный покров на руках становится гладким,
                        подтянутым и привлекательным
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/person-in-bed.png" alt=""> Улучшается общее самочувствие и настроение
                    </li>
                </ul>
            </div>
            {% include '../components/specialists_card.html' with sutadta=True ketut=True %}
        </div>

    </div>
</section>

{% include '../components/modal.html' %}


{% include '../components/services.html' %}


{% include '../components/order.html' %}

{% endblock %}