{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>

{% include '../components/modal.html' %}

<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <h2 class="unit__title">
                    Массаж травяными мешочками
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/herbal_bags.png" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__text">
                        Массаж горячими травяными мешочками "Энергия трав" - один из самых древних видов массажа,
                        который объединяет термальные процедуры, ароматерапию и фитотерапию.
                    </p>
                    <p class="unit__text unit__text_small">
                        60 мин 3200р.
                    </p>
                    <p class="unit__text unit__text_small">
                        90 мин 4200р.
                    </p>
                    <p class="unit__text">
                        120 мин 5200р.
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-lotus.png" alt=""> Снимает стресс
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/biceps.png" alt=""> Избавляет от усталости
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/person-in-bed.png" alt=""> Улучшает сон
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/shield.png" alt=""> Повышает иммунитет
                    </li>
                </ul>
            </div>
            {% include '../components/specialists_card.html' %}
        </div>

    </div>
</section>

<div class="unit">
    <div class="container">
        <div class="unit__bottom">
            <a href="/massages/" class="unit__bottom__link">
                Все услуги
                <img src="/media/icons/arrow small.png" alt="">
            </a>
            <p class="unit__bottom__descr">
                Обретите баланс, раскройте чакры посетив нас.<br>
                Познакомтесь с настоящими мастерами, наследниками древних традиций, прямиком из тайланда.<br>
                Команда Сантай поможет расслабиться и получить незабываемые ощущения каждому не оставив равнодушным
                никого.
            </p>
        </div>
    </div>
</div>

{% include '../components/form.html' with form_type=1 %}


{% endblock %}