{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>

{% include '../components/modal.html' %}

<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <!-- todo Поправить картинку, минимум избавить от водяных знаков -->
                <h2 class="unit__title">
                    СВЕЧА ЛЮБВИ
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/love_candle.png" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__description">
                        Свеча любви — это уникальный массаж, сочетающий в себе ароматерапию и отличный СПА-уход. Для
                        проведения сеанса чувственного массажа используются специализированные свечи с натуральными
                        растительными маслами, что дарит ощущение расслабленности, улучшает кожу, делая её мягкой и
                        шелковистой
                    </p>
                    <p class="unit__text unit__text_small">
                        60 мин 3200р.
                    </p>
                    <p class="unit__text unit__text_small">
                        90 мин 4200р.
                    </p>
                    <p class="unit__text ">
                        120 мин 5200р.
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/biceps.png" alt=""> Улучшается физическое и эмоциональное состояние
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-steamy-room.png" alt=""> Смягчает и питает кожу
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-lotus.png" alt=""> Дарит душевную гармонию
                    </li>
                </ul>
            </div>
            <div class="unit__descr__half unit__descr__half_right">
                <h2 class="unit__descr__title">
                    Сеанс проводит
                </h2>
                <div class="unit__descr__card">
                    <div class="unit__descr__card__wrapper">
                        <img src="/media/img/card.png" alt="" class="unit__descr__card__image">
                    </div>
                    <div class="unit__descr__card__bottom">
                        <p class="unit__descr__card__title">
                            Иванова Татьяна Михайловна
                        </p>
                        <p class="unit__descr__card__subtitle">
                            Специалист по тайскому массажу
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


{% include '../components/unit_bottom.html'%}


{% include '../components/form.html' with form_type=2 %}


{% endblock %}