{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>

{% include '../components/modal.html' %}

<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <h2 class="unit__title">
                    Массаж шейно-воротниковый
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/neck.png" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__text">
                        Массаж шейно-воротниковой зоны часто называют антистресс-массажем. Дело в том, что в случае
                        возникновения стресса человек инстинктивно напрягает мышцы плечевого пояса, этому способствует
                        стремление, «спрятаться» от неприятных психологических переживаний. Если напряжение
                        накапливается и стресс длится длительное время, то мышцы формируют прочный, так называемый,
                        «стрессовый панцирь», вызывающий скованность движения и даже боль, и постоянно напоминает о
                        ситуации вызвавшей стресс.
                    </p>
                    <p class="unit__text unit__text_small">
                        30 мин 1400р.
                    </p>
                    <p class="unit__text">
                        60 мин 2400р.
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-lifting-weights.png" alt=""> Улучшается общее самочувствие
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/ok-hand.png" alt=""> Исчезают застойные ощущения шейных позвонков
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/blood.png" alt=""> Улучшается кровообращение
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-lotus.png" alt=""> Снижаются приступы головной боли
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-running.png" alt=""> Проходит ощущение усталости
                    </li>
                </ul>
            </div>
            {% include '../components/specialists_card.html' %}
        </div>

    </div>
</section>


<div class="unit">
    <div class="container">
        <div class="unit__bottom">
            <a href="/massages/" class="unit__bottom__link">
                Все услуги
                <img src="/media/icons/arrow small.png" alt="">
            </a>
            <p class="unit__bottom__descr">
                Обретите баланс, раскройте чакры посетив нас.<br>
                Познакомтесь с настоящими мастерами, наследниками древних традиций, прямиком из тайланда.<br>
                Команда Сантай поможет расслабиться и получить незабываемые ощущения каждому не оставив равнодушным
                никого.
            </p>
        </div>
    </div>
</div>

{% include '../components/form.html' with form_type=1 %}


{% endblock %}