{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>

{% include '../components/modal.html' %}

<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <!-- todo Поправить картинку, минимум избавить от водяных знаков -->
                <h2 class="unit__title">
                    Тайский оил массаж
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/oil.png" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__description">
                        Тайский оил массаж — это особенная процедура, которая сочетает в себе обычный масляный массаж с
                        ароматерапией. Процедура оказывает действие на энергетическом уровне, снимая различные блоки.
                    </p>
                    <p class="unit__text unit__text_small">
                        60 мин. 3200₽
                    </p>
                    <p class="unit__text unit__text_small">
                        90 мин. 4200₽
                    </p>
                    <p class="unit__text ">
                        120 мин. 5200₽
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/biceps.png" alt=""> Устраняет спазмы в мышцах
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/bathtub.png" alt=""> Омолаживает и очищает кожу
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/leg.png" alt=""> Уменьшает выраженность целлюлита
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-lotus.png" alt=""> Способствует расслаблению
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-lifting-weights.png" alt=""> Наполняет положительной энергией и
                        силами
                    </li>
                </ul>
            </div>
            {% include '../components/specialists_card.html' with sutadta=True ketut=False %}
        </div>

    </div>
</section>


{% include '../components/services.html' %}


{% include '../components/order.html' %}


{% endblock %}