{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>

    <section class="unit">
        <div class="container">
            <div class="unit__white">
                <div class="unit__top">
                    <h2 class="unit__title">
                        Slim массаж
                    </h2>
                    <!-- todo Настроить на всех страницах переключение между массажами -->
                    <div class="unit__arrows">
                        <a href="#" class="unit__arrow">
                            <img src="/media/icons/arrow left.svg" alt="">
                        </a>
                        <a href="#" class="unit__arrow">
                            <img src="/media/icons/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="unit__center">
                    <div class="unit__half">
                        <img class="unit__image" src="/media/img/massages/lymphatic_drainage.png" alt="massage">
                    </div>
                    <div class="unit__half">
                        <p class="unit__text">
                            Точечный массаж всего тела. Оздоровление организма, обртение сил и эмоциональное
                            восстановление.
                        </p>
                        <p class="unit__text unit__text_small">
                            <img src="/media/icons/time.svg" alt="">
                            60 мин 5000р.
                        </p>
                        <p class="unit__text">
                            <img src="/media/icons/time.svg" alt="">
                            90 мин 8000р.
                        </p>
                        <button class="button_yellow open__modal">
                            Записаться
                        </button>
                    </div>
                </div>
            </div>
            <div class="unit__descr">
                <div class="unit__descr__half">
                    <h2 class="unit__descr__title">
                        О процедуре
                    </h2>
                    <p class="unit__descr__text">
                        Тайский массаж — это специалист, который занимается диагностикой лечение заболеваний
                        сердечно-сосудистой системы. Специалист проводит осмотр и консультацию диагностику и лечение
                        пациентов с заболеваниями сердечно-сосудистой системы.
                    </p>
                    <h2 class="unit__descr__title">
                        Польза тайского массажа
                    </h2>
                    <ul class="unit__descr__list">
                        <li class="unit__descr__item">
                            Улучшение кровообращения
                        </li>
                        <li class="unit__descr__item">
                            Повышение гибкости суставов
                        </li>
                        <li class="unit__descr__item">
                            Улучшение работы нервной системы
                        </li>
                        <li class="unit__descr__item">
                            Тонус мышц
                        </li>
                        <li class="unit__descr__item">
                            Полное расслабление пазух
                        </li>
                    </ul>
                </div>
                <div class="unit__descr__half unit__descr__half_right">
                    <h2 class="unit__descr__title">
                        Сеанс проводит
                    </h2>
                    <div class="unit__descr__card">
                        <div class="unit__descr__card__wrapper">
                            <img src="/media/img/card.png" alt="" class="unit__descr__card__image">
                        </div>
                        <div class="unit__descr__card__bottom">
                            <p class="unit__descr__card__title">
                                Иванова Татьяна Михайловна
                            </p>
                            <p class="unit__descr__card__subtitle">
                                Специалист по тайскому массажу
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% include '../components/modal.html' %}

    <section class="order">
        <div class="container">
            <div class="order__wrapper">
                <h2 class="order__title">
                    Запишитесь прямо сейчас
                </h2>
                <div class="order__bottom">
                    <p class="order__subtitle">
                        Свяжитесь с нами и админисратор подберет подходящую для вас программу
                    </p>
                    <button class="button_whiteall open__modal">
                        Записаться
                    </button>
                </div>
                <img src="/media/img/тайка 14.png" alt="#" class="order__image">
            </div>
        </div>
    </section>
    <div class="unit">
        <div class="container">
            <div class="unit__bottom">
                <a href="/massages/" class="unit__bottom__link">
                    Все услуги
                    <img src="/media/icons/arrow small.png" alt="">
                </a>
                <p class="unit__bottom__descr">
                    Обретите баланс, раскройте чакры посетив нас.<br>
                    Познакомтесь с настоящими мастерами, наследниками древних традиций, прямиком из тайланда.<br>
                    Команда Сантай поможет расслабиться и получить незабываемые ощущения каждому не оставив равнодушным
                    никого.
                </p>
            </div>
        </div>
    </div>

    {% include '../components/form.html' with form_type=3 %}


{% endblock %}