{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>

<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <h2 class="unit__title">
                    Slim массаж
                </h2>
            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/slim.png" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__text">
                        Slim-массаж весьма интенсивный и глубокий, который предполагает тщательную проработку
                        проблемных зон с целью улучшения кровотока и стимуляции мышц за счет воздействия с помощью
                        разминания и вибрации.
                    </p>
                    <p class="unit__text unit__text_small">
                        60 мин. 3400₽
                    </p>
                    <p class="unit__text">
                        90 мин. 4400₽
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/dna.png" alt=""> Улучшение метаболизма
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-steamy-room.png" alt=""> Повышение тонуса кожи
                    </li>
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/leg.png" alt=""> Профилактика целлюлита
                    </li>
                    <!--                    #todo Уточнить по этому пункту-->
                    <li class="unit__descr__item">
                        <img src="/media/img/emoji/man-in-lotus.png" alt=""> Способствует расслаблению
                    </li>
                </ul>
            </div>
                     {% include '../components/specialists_card.html' with sutadta=True ketut=True %}

        </div>

    </div>
</section>

{% include '../components/modal.html' %}


{% include '../components/services.html' %}


{% include '../components/form.html' with form_type=1 %}


{% endblock %}