{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include '../components/header.html' %}

</section>

{% include '../components/modal.html' %}

<section class="unit">
    <div class="container">
        <div class="unit__white">
            <div class="unit__top">
                <h2 class="unit__title">
                    Стоун массаж
                </h2>

            </div>
            <div class="unit__center">
                <div class="unit__half">
                    <img class="unit__image" src="/media/img/massages/stone.png" alt="massage">
                </div>
                <div class="unit__half">
                    <p class="unit__text">
                        Древнейший метод массажа, в основе которого лежит воздействие на биологически активные точки
                        камнями. Действие контрастных температур оказывает благотворное влияние на внутренние процессы
                        организма.
                    </p>
                    <p class="unit__text unit__text_small">
                        60 мин. 3200₽
                    </p>
                    <p class="unit__text unit__text_small">
                        90 мин. 4200₽
                    </p>
                    <p class="unit__text">
                        120 мин. 5200₽
                    </p>
                    <button class="button_yellow open__modal button_to_bordered_yellow">
                        Записаться
                    </button>
                </div>
            </div>
        </div>
        <div class="unit__descr">
            <div class="unit__descr__half">
                <h2 class="unit__descr__title">
                    Польза массажа
                </h2>
                <ul class="unit__descr__list">
                    <li class="unit__descr__item">
                        Улучшение кровообращения
                    </li>
                    <li class="unit__descr__item">
                        Повышение гибкости суставов
                    </li>
                    <li class="unit__descr__item">
                        Улучшение работы нервной системы
                    </li>
                    <li class="unit__descr__item">
                        Тонус мышц
                    </li>
                </ul>
            </div>
            {% include '../components/specialists_card.html' with sutadta=True ketut=True %}

        </div>

    </div>
</section>


{% include '../components/services.html' %}


{% include '../components/order.html' %}


{% endblock %}