{% extends "base.html" %}

{% block content %}

<section class="main main_header">
    {% include './components/header.html' %}

</section>

<section class="contacts">
    <div class="container">
        <h2 class="contacts__title">
            Контакты
        </h2>

        <div class="contacts__white">
            <div class="contacts__white__info">
                <div>
                    <div class="contacts__white__row">
                        <p class="contacts__white__title">
                            Адрес
                        </p>
                        <a href="https://yandex.ru/maps/org/santayspa/171834019491/" class="contacts__white__subtitle">
                            Г. Белгород, ул. Пушкина, 55
                        </a>
                    </div>
                    <div class="contacts__white__row">
                        <p class="contacts__white__title">
                            Телефон
                        </p>
                        <p class="contacts__white__subtitle">
                            +7 (915) 561-18-54
                        </p>
                    </div>
                </div>
                <div>
                    <div class="contacts__white__row">
                        <p class="contacts__white__title">
                            Email
                        </p>
                        <p class="contacts__white__subtitle">
                            santai.bgd@gmail.com
                        </p>
                    </div>

                    <div class="contacts__white__row">
                        <p class="contacts__white__title">
                            Часы работы
                        </p>
                        <p class="contacts__white__subtitle">
                            Пн – Вс, 10:00 – 21:00
                        </p>
                    </div>
                </div>

                <div class="contacts__white__row">
                    <p class="contacts__white__title">
                        Реквизиты
                    </p>
                    <p class="contacts__white__subtitle">
                        ООО «САНТАЙ», ИНН 7702070139<br>
                        КПП: 770943002,ОГРН 1223100009175<br>
                        Ген. Дир. Ерачина Яна Викторовна<br>
                        Юридический адрес: 190000, БЕЛГОРОД, ул. Пушкина 35
                    </p>
                </div>
            </div>
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9b75be2dab10fee0112d2a43aaac3bad0baddb97a14248e539b3d1574ed944d2&amp;width=865&amp;height=669&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

    </div>
</section>

{% endblock %}