{% extends "base.html" %}

{% block content %}

<section class="main">
    {% include './components/header.html' %}

    <div class="main__wrapper">
        <h1 class="main__title">
            Сантай
        </h1>
        <div class="main__description">
            <p class="mobile__hide">
                Сантай - салон тайского и балийского массажа в <br>Белгороде, текст с полезной нагрузкой призванный
                что <br>то рассказать.
            </p>
            <p class="mobile__show">
                Сантай - салон тайского и<br> балийского массажа в Белгороде.
            </p>
        </div>
        <div class="main__buttons">
            <button class="button_yellow open__modal button_to_bordered_white">
                Записаться
            </button>
            <a href="/massages" class="button_white button_to_filled_yellow">
                Список услуг
            </a>
        </div>
    </div>
    {% include './components/messangers.html' %}

</section>
<section class="descr">
    <div class="container descr__wrapper">
        <h2 class="descr__title">
            Мы дарим погружение в мир массажа<br>
            Черпая энергию из традиций тайланда
        </h2>
        <img src="media/img/stones.png" alt="" class="descr__image">
    </div>
</section>
<section class="services">

    <div class="container">
        <h2 class="services__title">
            Услуги
        </h2>
    </div>
    <div class="services__wrapper owl-carousel owl-theme">
        {% for massage in massages %}
        <a href="/massages/{{massage.url}}" class="services__item item">

            <img class="services__item__img" src="/media/img/massages/{{massage.url}}.png" alt="">

            <div class="services__item__descr">
                <div class="services__item__descr__top">
                    <img src="/media/icons/services/{{massage.img}}.png" class="services__item__icon" alt="">
                    <p>от {{massage.price}} ₽</p>
                </div>

                <p>{{massage.title}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="container">
        <a href="/massages/" class="special__link">
            Все услуги
            <img src="media/icons/arrow small.png" alt=">">
        </a>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="about__wrapper">
            <h2 class="about__title">
                О нас
            </h2>
            <p class="about__subtitle">
                Сантай-это уникальное пространство, где нет места суете, тревогам и стрессам. Здесь царит спокойная
                атмосфера релакса и уединения. Это уголок, где можно скрыться от повседневной суеты и провести время с
                пользой для себя: привести мысли в порядок, мышцы в тонус, а душу в гармонию!
            </p>
            <img src="media/img/big budda.png" alt="" class="about__image">
        </div>
    </div>
</section>

<!--<section class="special">-->
<!--    <div class="container">-->
<!--        <div class="special__wrapper">-->
<!--            <h2 class="special__title">-->
<!--                Наши специальные предложения-->
<!--            </h2>-->
<!--            <a class="special__item" href="/massages/stone/">-->
<!--                <img src="media/icons/special/stone_icon 1.png" alt="">-->
<!--                <p class="special__item__title">-->
<!--                    Стоун массаж-->
<!--                </p>-->
<!--                <p class="special__item__subtitle">-->
<!--                    Диагностика и лечение заболеваний сердечно-сосудистой системы-->
<!--                </p>-->
<!--            </a>-->
<!--            <a class="special__item" href="/massages/herbal_bags/">-->
<!--                <img src="media/icons/special/herbal-massage 2.png" alt="">-->
<!--                <p class="special__item__title">-->
<!--                    Массаж травянными мешочками-->
<!--                </p>-->
<!--                <p class="special__item__subtitle">-->
<!--                    Диагностика и лечение заболеваний сердечно-сосудистой системы-->
<!--                </p>-->
<!--            </a>-->
<!--            <a class="special__item" href="/massages/oil/">-->
<!--                <img src="media/icons/special/essential-oil 3.png" alt="">-->
<!--                <p class="special__item__title">-->
<!--                    Арома-ойл массаж-->
<!--                </p>-->
<!--                <p class="special__item__subtitle">-->
<!--                    Диагностика и лечение заболеваний сердечно-сосудистой системы-->
<!--                </p>-->
<!--            </a>-->
<!--        </div>-->
<!--        <a href="/massages/" class="special__link">-->
<!--            Все услуги-->
<!--            <img src="media/icons/arrow small.png" alt=">">-->
<!--        </a>-->
<!--    </div>-->
<!--</section>-->

<section class="gallery">
    <div class="container">
        <h2 class="gallery__title">
            Галерея
        </h2>
    </div>
    <div class="owl-carousel owl-theme">
        <div class="item"><img src="/media/img/galleries/DSC08588.JPG" alt="massage"></div>
        <div class="item"><img src="/media/img/galleries/DSC08733.JPG" alt="massage"></div>
        <div class="item"><img src="/media/img/galleries/DSC08603.JPG" alt="massage"></div>
        <div class="item"><img src="/media/img/galleries/DSC08597.JPG" alt="massage"></div>
        <!--        <img src="/media/img/galleries/DSC08729.JPG" alt="massage">-->
    </div>
</section>

{% include './components/modal.html' %}

<section class="order">
    <div class="container">
        <div class="order__wrapper">
            <h2 class="order__title">
                Запишитесь на массаж прямо сейчас

            </h2>
            <div class="order__bottom">
                <p class="order__subtitle">
                        <span class="mobile__hide">
                            Свяжитесь с нами и администратор подберет подходящую для вас программу
                        </span>
                    <span class="mobile__show">
                            Свяжитесь с нами и администратор<br> подберет подходящую для вас<br> программу
                        </span>
                </p>
                <button class="button_whiteall open__modal button_to_bordered_white">
                    Записаться
                </button>
            </div>
            <img src="media/img/тайка 14.png" alt="#" class="order__image">
        </div>
    </div>
</section>

<section class="reviews container">
    <div class="reviews__item mobile__hide">
        <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A8a2fd0e51edb348d83e7c5a2679403aaac816bb23adfd716ef9bb255fa89fbe6&amp;source=constructor"
                frameborder="0"></iframe>
    </div>
    <div class="reviews__item">
        <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;box-sizing:border-box"
                src="https://yandex.ru/maps-reviews-widget/171834019491?comments"></iframe>
        <a href="https://yandex.ru/maps/org/santayspa/171834019491/reviews/" target="_blank"
           style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0">Сайлон
            массажа Сантай — Яндекс.Карты</a>
    </div>
</section>
<script>
    $(document).ready(function () {
        $(".gallery .owl-carousel").owlCarousel({
            margin: 10,
            loop: true,
            stagePadding: 50,
            responsive: {
                0: {
                    items: 1,
                    mergeFit: true
                },
                678: {
                    items: 2,
                    mergeFit: true
                },
                1000: {
                    items: 3,
                    mergeFit: true
                }
            }
        });

        $(".services .owl-carousel").owlCarousel({
            margin: 10,
            loop: true,
            stagePadding: 50,
            responsive: {
                0: {
                    items: 1,
                    mergeFit: true
                },
                678: {
                    items: 2,
                    mergeFit: true
                },
                1000: {
                    items: 3,
                    mergeFit: true
                }
            }
        });
    });

</script>
{% endblock %}