{% extends "base.html" %}

{% block content %}
<section class="main main_header">
    {% include './components/header.html' %}

</section>

<section class="spa">
    <div class="container">
        <h2 class="spa__title">
            SPA-программы
        </h2>
        <div class="spa__list__wrapper">

            <div class="spa__item">
                <img src="/media/img/spa/peeling.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Тропический рай»
                    </div>
                    <div class="spa__item__descr">
                        - омовение ног<br>
                        - очищающий пилинг<br>
                        - oil-массаж 60 мин.<br>
                        - цветочная ванна<br>
                        - чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>5500₽ - 120 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>

             <div class="spa__item">
                <img src="/media/img/massages/oil.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Сочный манго»
                    </div>
                    <div class="spa__item__descr">
                        - омовение ног<br>
                        - распаривание в кедровой бочке<br>
                        - обертывание тела маской<br>
                        - oil-массаж 90 мин.<br>
                        - чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>6500₽ - 150 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>

             <div class="spa__item">
                <img src="/media/img/spa/woman_mask.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Райский кокос»
                    </div>
                    <div class="spa__item__descr">
                        - омовение ног<br>
                        - распаривание в кедровой бочке<br>
                        - очищающий пилинг<br>
                        - обертывание тела маской<br>
                        - массаж «Энергия трав» 60 мин.<br>
                        - чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>7800₽ - 150 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>

             <div class="spa__item">
                <img src="/media/img/spa/mango_spa.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Принцесса Santai»
                    </div>
                    <div class="spa__item__descr">
                        - омовение ног<br>
                        - распаривание в кедровой бочке<br>
                        - oil-массаж в 4 руки 90 мин.<br>
                        - массаж «Энергия трав» для лица<br>
                        - обертывание тела маской<br>
                        - чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>9500₽ - 180 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>


            <div class="spa__item">
                <img src="/media/img/spa/man_oil.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Босс Santai»
                    </div>
                    <div class="spa__item__descr">
                        -омовение ног<br>
                        -распаривание в кедровой бочке<br>
                        -тайский традиционный массаж 60 мин.<br>
                        -oil- массаж 60 мин.<br>
                        -чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>6300₽ - 150 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>
            <div class="spa__item">
                <img src="/media/img/spa/man_pilling.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Гармония и жизненные силы»
                    </div>
                    <div class="spa__item__descr">
                        - омовение ног<br>
                        - распаривание в кедровой бочке<br>
                        - очищающий пилинг<br>
                        - oil-массаж 90 мин.<br>
                        - чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>6500₽ - 150 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>
            <div class="spa__item">
                <img src="/media/img/spa/man_oil_four.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Тандем»
                    </div>
                    <div class="spa__item__descr">
                        - омовение ног<br>
                        - распаривание в кедровой бочке<br>
                        - очищающий пилинг<br>
                        - oil-массаж в 4 руки 90 мин.<br>
                        - энергетический массаж головы<br>
                        - чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>8200₽ - 180 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>
            <div class="spa__item">
                <img src="/media/img/spa/sunrise_bali.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Рассвет на Бали»
                    </div>
                    <div class="spa__item__descr">
                        - омовение ног<br>
                        - Очищающий пилинг<br>
                        - Oil-массаж (масло на выбор)<br>
                        - Маска для тела «Для неё»<br>
                        - Массаж ног «Для него»<br>
                        - Цветочная ванна<br>
                        - Чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>9500₽ - 150 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>

            <div class="spa__item">
                <img src="/media/img/spa/mysterius_thai.png" alt="massage">
                <div class="spa__item__wrapper">
                    <div class="spa__item__title">
                        «Загадочный Таиланд»
                    </div>
                    <div class="spa__item__descr">
                        - омовение ног<br>
                        - Распаривание в кедровой бочке<br>
                        - Очищающий пилинг<br>
                        - Oil-массаж (масло на выбор)<br>
                        - Питательная маска для тела <br>
                        - Чайная церемония<br>
                    </div>
                    <div class="spa__item__bottom">
                        <p>12000₽ - 150 мин.</p>
                        <button class="button_yellow open__modal button_to_bordered_yellow">
                            Записаться
                        </button>
                    </div>

                </div>
            </div>
        </div>


    </div>
    {% include './components/modal.html' %}

</section>

{% endblock %}