<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__left">
            <a href="tel:#" class="footer__phone">
                +7 (920) 583-17-85
            </a>
            <a href="mailto:" class="footer__mail">
                Santaispa@yandex.ru
            </a>
            <a href="https://yandex.ru/maps/org/santayspa/171834019491/" class="footer__geo">
                Г. Белгород, ул. Пушкина, 55
            </a>
        </div>
        <div class="footer__logo__wrapper">
            <a href="/" class="">
                <img src="/media/img/footer logo.png" alt="" class="footer__logo">
            </a>
            <div class="footer__links">
                <a href="https://vk.com/santai_spa" class="footer__link">
                    <img src="/media/icons/footer/vk.svg" alt="vk">
                </a>
                <a href="https://instagram.com/santai_spa31" class="footer__link">
                    <img src="/media/icons/footer/instagram.svg" alt="tg">
                </a>
            </div>
        </div>

        <div class="footer__right">
            <p class="footer__text">
                Пн – Вс, 10:00 – 21:00
            </p>
            <a href="/contacts/" class="footer__contacts">
                Контакты
            </a>
            <a href="/policy/" class="footer__contacts">
                Правовая информация
            </a>
        </div>
    </div>

</footer>
<script src='/static/js/script.js'></script>
