<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__left">
            <a href="tel:#" class="footer__phone">
                +7 (961) 174-77-47
            </a>
            <a href="mailto:" class="footer__mail">
                Santaispa@yandex.ru
            </a>
            <a href="#" class="footer__geo">
                <img src="/media/icons/geo.svg" alt="#">
                Г. Белгород, ул. Пушкина, 55
            </a>
        </div>
        <a href="#" class="footer__logo__wrapper">
            <img src="/media/img/footer logo.png" alt="" class="footer__logo">
        </a>
        <div class="footer__right">
            <p class="footer__text">
                ООО «СанТай»,<br class="mobile__show"> ИНН 7702070139,<br>
                <span class="mobile__hide">КПП: 770943002, ОГРН 1223100009175</span>
            </p>
            <p class="footer__text">
                Пн – Вс, 10:00 – 21:00
            </p>
        </div>
    </div>
    <div class="footer__links">
        <a href="https://vk.com/santai_spa" class="footer__link">
            <img src="/media/icons/footer/vk.svg" alt="vk">
        </a>
        <a href="https://instagram.com/santai_spa31" class="footer__link">
            <img src="/media/icons/footer/instagram.svg" alt="tg">
        </a>
    </div>
</footer>
<script src='/static/js/script.js'></script>
