<section class="form">
    <div class="container">
        <form class="form__wrapper form__wrapper_unit-{{form_type}}">
            {% csrf_token %}
            <div class="form__half form__half_image">

            </div>
            <div class="form__half">
                <h2 class="form__title">
                    Записаться на массаж
                </h2>
                <p class="form__subtitle">
                    Наш специалист свяжется с вами и поможет выбрать подходящую SPA процедуру.
                </p>
                <input type="text" name='name' placeholder="Ваше имя" class="form__input">
                <input type="text" name='phone' placeholder="Ваш телефон" class="form__input">
                <p class="form__policy">
                    Нажимая на кнопку, вы соглашаетесь с <a href="/policy/">Политикой конфиденциальности</a>
                </p>
                <button type="submit" class="button_yellow button_to_bordered_yellow">
                    Записаться
                </button>
            </div>
        </form>
    </div>
</section>
<script src='/static/js/form.js'></script>
