    <header class="header">
            <div class="header__logo_wrapper">
                <a href="/">
                    <img src="/media/img/logo.png" alt="logo" class="header__logo">
                </a>
            </div>
            <div class="header__menu">
                <a href="/massages/" class="header__menu__link header__menu__link_hamburger">
                    Услуги
                </a>
                <a href="/certificate" class="header__menu__link header__menu__link__about">
                    Сертификаты
                </a>
                <a href="/contacts" class="header__menu__link">
                    Контакты
                </a>
            </div>
            <a href="tel:#" class="header__menu__link header__menu__link__phone">
                <img src="/media/icons/phone.png" alt="">
                +7 (961) 174-77-47
            </a>
        </header>
