<header class="header">
    <div class="header__logo_wrapper">
        <a href="/">
            <img src="/media/img/logo.png" alt="logo" class="header__logo">
        </a>
    </div>
    <div class="header__menu">
        <a href="/massages/" class="header__menu__link ">
            Массажи
        </a>
        <a href="/spa/" class="header__menu__link ">
            SPA-программы
        </a>
        <a href="/promotions/" class="header__menu__link ">
            Акции
        </a>
        <a href="/certificate" class="header__menu__link header__menu__link__certificate">
            Сертификаты
        </a>
        <a href="/contacts" class="header__menu__link">
            Контакты
        </a>
    </div>
    <a href="tel:#" class="header__menu__link header__menu__link__phone">
        <img src="/media/icons/phone.png" alt="">
        +7 (961) 174-77-47
    </a>
    <a href="javascript:void(0);" class="header__menu__link_hamburger" onclick="open_menu_mobile()">
        <img src="/media/icons/hamburger.png" alt="">
    </a>
</header>

<script>
    function open_menu_mobile(){
        if($(".menu_mobile").is(":visible")){
            $(".menu_mobile").hide()
            $("body").css('overflow', 'unset')
        }else{
            $(".menu_mobile").css('display', 'flex')
            $("body").css('overflow', 'hidden')
        }

    }
</script>