<div class="menu_mobile">

    <a href="javascript:void(0);" onclick="hide_menu_mobile()" class="menu_mobile__link menu_mobile__link_cross">
        <img src="/media/icons/cross.png" alt="close">
    </a>

    <div class="menu_mobile__link menu_mobile__link_logo">
        <img src="/media/img/logo.png" alt="logo">
    </div>

    <a href="/" class="menu_mobile__link">
        Главная
    </a>

    <a href="/massages/" class="menu_mobile__link">
        Массажи
    </a>

    <a href="/spa/" class="menu_mobile__link">
        SPA-программы
    </a>
    <a href="/promotions/" class="menu_mobile__link ">
        Акции
    </a>
    <a href="/certificate" class="menu_mobile__link">
        Сертификаты
    </a>
    <a href="/contacts" class="menu_mobile__link">
        Контакты
    </a>
    <a href="tel:#" class="menu_mobile__link">
        +7 (961) 174-77-47
    </a>

    <div class="menu_mobile__soc_links">
        <a href="https://vk.com/santai_spa" class="menu_mobile__soc_link">
            <img src="/media/icons/footer/vk.svg" alt="vk">
        </a>
        <a href="https://instagram.com/santai_spa31" class="menu_mobile__soc_link">
            <img src="/media/icons/footer/instagram.svg" alt="tg">
        </a>
    </div>

    <button class="button_white open__modal">
        Записаться
    </button>
</div>

<script>
    function hide_menu_mobile() {
        $(".menu_mobile").hide()
        $("body").css('overflow', 'unset')
    }
</script>