<div class="modal">
    <form class="modal__wrapper">
        {% csrf_token %}
        <div class="modal__title">Получить консультацию</div>
        <p class="modal__subtitle">
            Оставьте заявку, мы свяжемся с вами в ближайшее время.
        </p>
        <input type="text" name='name' required placeholder="Имя" class="modal__input">
        <input type="text" name='phone' required placeholder="Телефон" class="modal__input">
        <p class="modal__policy" >
            <input type="checkbox" checked class="modal__allow_policy" >
            Нажимая на кнопку, Вы соглашаетесь с <a href="/policy/">Политикой конфиденциальности</a>
        </p>
        <button type="submit" class="button_yellow modal__button">
            Записаться
        </button>
    </form>
</div>
