<section class="order">
    <div class="container">
        <div class="order__wrapper">
            <h2 class="order__title">
                Скидка 30%
            </h2>
            <div class="order__bottom">
                <p class="order__subtitle">
                    При первом посещении нашего салона дарим промокод "ВПЕРВЫЕСАНТАЙ" на скидку 30%.
                </p>
                <button class="button_whiteall open__modal button_to_bordered_white">
                    Записаться
                </button>
            </div>
        </div>
    </div>
</section>
