<div class="unit__descr__half unit__descr__half_right">
    <h2 class="unit__descr__title">
        Сеанс проводит
    </h2>
    <div class="owl-carousel owl-theme">
        {% if sutadta %}
            <div class="unit__descr__card">
                <div class="unit__descr__card__wrapper">
                    <img src="/media/img/specialists/sutadta.png" alt="" class="unit__descr__card__image">
                </div>
                <div class="unit__descr__card__bottom">
                    <p class="unit__descr__card__title">
                        Сутадта
                    </p>
                </div>
            </div>
        {% endif %}
        {% if ketut %}
        <div class="unit__descr__card">
            <div class="unit__descr__card__wrapper">
                <img src="/media/img/specialists/ketut.png" alt="" class="unit__descr__card__image">
            </div>
            <div class="unit__descr__card__bottom">
                <p class="unit__descr__card__title">
                    Кетут
                </p>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<script>

    $(document).ready(function () {
        $(".unit .owl-carousel").owlCarousel({
            margin: 10,
            items: 1,
            dots: true
        });
    });

</script>